# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/

# Build / dist
build/
dist/
*.egg-info/

# VSCode / PyCharm
.vscode/
.idea/

out-hf-dpcs/# training outputs / artifacts
out-hf-dpcs/
checkpoint-200/
runs/

.cache/
datasets/
data/
